<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="code coverage">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
								<ModulePath>.*Enrollment\.Spa\.Api\.dll$</ModulePath>
                <ModulePath>.*Enrollment\.Data\.dll$</ModulePath>
								<ModulePath>.*Enrollment\.Domain\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
